@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: calc(100svh / 8);
	--menu-button-h: calc(var(--navbar-height) - 5svh);
	--menu-button-hover-h: calc(var(--navbar-height) - 3svh);
	--nav-button-w: 10svw;
}
